* {
    box-sizing: border-box;
}
nav{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    justify-content: center;
    gap: 40px;
}
li{
    padding: 10px;
}
li:hover{
    background-color:rgb(33, 33, 180);
}
a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.first-title{
    margin: 0;
    padding-left: 20px;
    margin-top: 10px;
    color: darkblue;
    margin-bottom: 10px;
}
li::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: white;
    transition: 0.5s ease-in-out;
}
li:hover::after{
    width: 100%;
}
.hamburger{
    width: 60px;
    height: 40px;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.hamburger::before{
    content: "";
    background-color: black;
    width:100%;
    height: 20%;
    position: absolute;
    top: 0;
}
.hamburger::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}
.hamburger .line{
    width: 100%;
    height: 20%;
    background-color: black;
}
@media (min-width: 600px){
    .hamburger{
        display: none;
    }
    nav{
        justify-content: center;
    }
    nav ul{
        display: flex;
    }
}